<div class="form">
    <br>
    <br>
    <form action="#">

        <input class="formStyle" type="text" name="firstname" placeholder="First name" required>
        <br>
        <br>
        <input class="formStyle" type="text" name="lastname" placeholder="Last name" required>
        <br>
        <br>
        <input class="formStyle" type="email" name="email" placeholder="e-mail" required>
        <br>
        <br>
        <textarea class="formStyle" name="subject" style="height:200px" placeholder="Subject" required></textarea>
        <br>
        <input class="formStyle" type="submit" value="Submit">

    </form>
</div>