<!-- app.component.html -->
<div class="container">
  <!-- statisch hoofdmenu -->
  <div class="row">
    <div class="col-md">
      <nav class="navbar navbar-expand-lg">
        <img class="img-fluid" style="scale: 50%;" style="width: 20%;" src="../assets/data/pokemon.png">
        <button class="navbar-toggler" style="background-color: #393939;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a routerLink="home" class="nav-item nav-link">home</a>
            <a routerLink="favie" class="nav-item nav-link">favie</a>
            <a routerLink="contact" class="nav-item nav-link">contact</a>
           </div>
        </div>
      </nav>
    </div>
  </div>

  



  <!-- router outlet! hier worden alle routes/componenten geprojecteerd -->
  <router-outlet></router-outlet>
  <!-- footer-->
  <hr>
  <div class="text-center">Copyright Massimo inc. &copy; 2019</div>
  </div>
  