a{
    color: black;
}
.collapse{
    background-color: #393939;
    color: snow;
}
.nav-item{
    background-color: #393939;
    color: snow;
}
.navbar-nav{
    background-color: #393939;
}
.navbar{
    background-color: #393939;
}
.navbar-toggler-icon{
    background-color: #393939;
}