<h3 id="titleFav" style="margin-top: 50px; text-align: center;">Your collection</h3>
<div class="container">
    <div class="row">
        <div class="col-md">
            <ul class="list-group">
                <li class="pokemon list-group-item" (click)="getDetails(pokemon.url);" *ngFor="let pokemon of pokemon$ | async">
                    {{pokemon.id}} {{pokemon.name}} <button (click) = "deletePokemon(pokemon.id)">Delete</button>
                </li>
                
                <ul>
                    extra information

                    <li *ngIf="(pokemonDetails$ | async) as pokedetails">
                        type: {{pokedetails.types[0].type.name}}
                        
                    </li>
                    
                    <li *ngIf="(pokemonDetails$ | async) as pokedetails">
                    
                        weight: {{pokedetails.weight}}
                   
                    </li>
                    <li *ngIf="(pokemonDetails$ | async) as pokedetails">
                    
                        height: {{pokedetails.height}}
                   
                    </li>
               

            </ul>

               


            </ul>

           


        </div>
    </div>
</div>


